#top {
	font-family: 'Work Sans', sans-serif;
	font-size: 45px;
	text-align: center;
	position: center;
	padding-top: 140px;
	padding-bottom: 90px;
}
#about {
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
	position: center;
	padding-top: 140px;
	padding-bottom: 90px;
}
#contact {
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
	position: center;
	padding-top: 140px;
	padding-bottom: 90px;
}
#projects {
	text-align: center;
}
#canvas-wrap {
	position:relative; 
	width: 100%; 
	height:100%; 
}
#canvas-wrap canvas {
	position:absolute; 
	top:0; 
	left:0; 
	z-index: -9999;
}