#top {
	background: "" no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Work Sans', sans-serif;
	font-size: 45px;
	text-align: center;
	padding-top: 140px;
	padding-bottom: 85px;
	padding-left: 200px;
	padding-right: 200px;
}
#about {
	background-color: white;
	position: center;
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
	padding-top: 140px;
	padding-bottom: 85px;
	padding-left: 200px;
	padding-right: 200px;
}
#contact {
	background-color: white;
	position: center;
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
	padding-top: 140px;
	padding-bottom: 85px;
	padding-left: 200px;
	padding-right: 200px;
}