@font-face {
	font-family: myHandwriting;
	src: url(../files/handwriting-regular.ttf);
}

p {
	font-family: myHandwriting;
	letter-spacing: 0.1em;
	margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#top {
	font-size: 3rem;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 150px;
}

#about {
	text-align: center;
	font-size: 2.5rem;
	position: center;
	padding-top: 150px;
	padding-bottom: 150px;
}

#contact {
	text-align: center;
	font-size: 2.5rem;
	position: center;
	padding-top: 150px;
	padding-bottom: 150px;
}

img.nav {
	margin-top: 0.6em;
}

#canvas-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

#canvas-wrap canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -9999;
}

::selection {
	background: transparent;
}

a:link {
	color: #bada55;
}

@media only screen and (max-width: 1000px) {
  	#top {
  		padding-top: 25px;
  		font-size: 25px;
  	}

  	#about {
  		font-size: 15px;
  		padding-top: 100px;
  	}

  	#contact {
  		font-size: 15px;
  		padding-top: 100px;
  	}
}
